{% extends 'base.html.twig' %}

{% block body %}
    {% for message in app.flashes('success') %}
        <div>{{ message }}</div>
    {% endfor %}
    {% for message in app.flashes('error') %}
        <div>{{ message }}</div>
    {% endfor %}

    {{ form_start(form) }}
        {{ form_row(form.excel_file) }}
        <button type="submit">Save</button>
    {{ form_end(form) }}

    <hr>
{#{{ dump(files) }}#}
    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">File name</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            {% set i = 1 %}
            {% for file in files %}
                <tr>
                    <th scope="row">{{ i }}</th>
                    <td>{{ file.filename }}</td>
                    <td>
                        <button type="button" class="btn btn-default btn-primary btn-view-js" data-file="{{ file.filename }}" data-bs-toggle="modal" data-bs-target="#excel-view">
                            view
                        </button>

                        <button class="btn">edit</button>
                        <button class="btn">delete</button>
                    </td>
                </tr>
                {% set i = i + 1 %}
            {% endfor %}
        </tbody>
    </table>

    <div class="modal fade" id="excel-view" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabel">Modal title</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body"></div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Understood</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script type="text/javascript">
        $('.btn-view-js').click(function(event){
            event.preventDefault();
            let excelFileName = $(this).data('file');
            $.ajax({
                type: 'GET',
                url: Routing.generate('excel_view_route'),
                data: { 'excelFileName': excelFileName },
                success: function (response) {
                    $('.modal .modal-body').html(response.data);
                },
                error: function (response) {
                    console.log(response);
                }
            });
        });
    </script>
{% endblock %}